* {
  font-family: sans-serif;
}
html, body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #333;
  width: 100%;
}
#client-sidebar {
  flex: 1;
  height: 100%;
  max-width: 20em;
  background: #eee;
  overflow-y: scroll;
  border-right: 1px #000 solid;
}
#client-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  height: 100%;
}
#webirc-buffer-container {
  flex: 1;
  overflow-y: scroll;
}
#webirc-input-container {
  flex: none;
  border-top: 1px #000 solid;
}
#webirc-input {
  width: calc(100% - 0.25em);
  border: none;
  font-size: 18px;
}
.webirc-buffer-hidden {
  display: none;
}
.webirc-tile {
  line-height: 200%;
}
.webirc-tile-active {
  background: #333;
  color: #ccc;
}
.webirc-buffer-time {
  float: right;
  font-size: 75%;
  color: #999;
  margin-right: 0.25em;
  margin-top: 0.1em;
  margin-left: 1em;
}
.webirc-buffer {
  margin: 0.25em;
}
.webirc-buffer-event {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.webirc-error {
  color: red;
}
