* {
  font-family: sans-serif;
}
html, body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100%;
  color: #333;
  width: 100%;
}
#client-sidebar {
  flex: 1;
  height: 100%;
  max-width: 20em;
  background: #003D5A;
  overflow-y: scroll;
  color: #ccc;
  padding: 0.5em;
}
#client-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  height: 100%;
}
#webirc-buffer-container {
  flex: 1;
  overflow-y: scroll;
}
#webirc-input-container {
  flex: none;
}
#webirc-input {
  width: calc(100% - 0.5em);
  border: none;
  font-size: 18px;
  padding: 0.5em 0 0.5em 0.5em;
  outline: none;
}
.webirc-buffer-hidden {
  display: none !important;
}
.webirc-tile {
  cursor: default;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0.5em;
}
.webirc-tile-active {
  background: #0078B1;
  color: #fff;
}
.webirc-buffer-time {
  float: right;
  font-size: 75%;
  color: #999;
  margin-right: 0.25em;
  margin-top: 0.1em;
  margin-left: 1em;
}
.webirc-buffer {
  flex: 1;
  margin: 0.25em;
}
.webirc-buffer-event {
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.webirc-error {
  color: red;
}
.webirc-buffer-line {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}
.webirc-message-event {
  margin-left: 0.25em;
}
.webirc-message-source {
  font-weight: bold;
}
.webirc-buffer-outer {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.webirc-buffer-sidebar {
  flex: 1;
  overflow-y: scroll;
  max-width: 20em;
  background: #efefef;
  padding: 0.5em;
}
.webirc-buffer-textview {
  flex: 1;
  padding: 0.5em;
}
